section.posts
  ol
    | {block:Posts}

    //- Text Posts

    | {block:Text}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/text/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/text/show

    | {/block:PermalinkPage}
    | {/block:Text}

    //- Photo Post

    | {block:Photo}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/photo/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/photo/show

    | {/block:PermalinkPage}
    | {/block:Photo}

    //- Video Post

    | {block:Video}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/video/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/video/show

    | {/block:PermalinkPage}
    | {/block:Video}

    //- Audio Post

    | {block:Audio}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/audio/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/audio/show

    | {/block:PermalinkPage}
    | {/block:Audio}

    //- Quote Post

    | {block:Quote}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/quote/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/quote/show

    | {/block:PermalinkPage}
    | {/block:Quote}

    //- Link Post

    | {block:Link}
    | {block:IndexPage}

    li.post.text
      include tumblr_types/link/index

    | {block:IndexPage}

    | {block:PermalinkPage}

    li.post.text
      include tumblr_types/link/show

    | {/block:PermalinkPage}
    | {/block:Link}

    | {/block:Posts}
