//- Custom Colors
//- meta(name="color:Random Color", content="#fff")

//- Custom Images
//- meta(name="image:Random Image", content="")

//- Custom Text
//- meta(name="text:Random Text", content="random piece of text")

//- Custom Booleans
//- meta(name="if:Random Condition", content="1")
//- meta(name="select:Random Selection", content="value", title="select option")
