extends layout

block content
  | {block:IndexPage}
  .IndexPage
    include index/_content
  | {/block:IndexPage}

  | {block:PermalinkPage}
  .PermalinkPage
    include permalink/_content
  | {/block:PermalinkPage}
